@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --fundo: #18181b;
  --texto: #e4e4e7;
  --roxo1: #8b5cf6;
  --roxo2: #2e1065;
  --azul1: #38bdf8;
  --azul2: #003fd1;

  --fonte-mono: "JetBrains Mono", monospace;
  --fonte-ss: "Space Grotesk", sans-serif;
}

* {
  font-family: var(--fonte-ss);
  box-sizing: border-box;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  margin: 0;
}

/* Definições do modo claro */
body.light-mode {
  --fundo: #e4e4e7; /* Inversão das cores nas variáveis */
  --texto: #18181b;
}

header {
  align-items: flex-start;
  border-bottom: 2px solid var(--azul1);
  color: var(--cor1);
  display: flex;
  font-family: var(--fonte-mono);
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 30px 40px;
}

header button,
footer a {
  text-decoration: none;
  border: none;
  background: transparent;
  font-family: var(--fonte-mono);
  cursor: pointer;
  padding: 4px 8px;
}

header button:hover,
footer a:hover {
  background-color: var(--azul1);
  color: var(--roxo2);
}

header h1 {
  color: var(--roxo1);
  font-size: 2.8em;
  margin: 0 0 5px 0;
}

header h2 {
  color: var(--roxo1);
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  color: var(--cor5);
  border-bottom: 1px dashed var(--cor3);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

button#theme-switch-btn {
  background: transparent;
  border: none;
  color: var(--azul1);
  cursor: pointer;
  font-family: var(--fonte-mono);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.qualifications {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

section.perfil {
  color: var(--texto);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

section.perfil h1 {
    margin-bottom: 0px;
    font-family: var(--fonte-mono);
}

section.perfil h2 {
    font-family: var(--fonte-mono);
}

section.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

article.item {
  border-bottom: none;
  border-left: 3px solid transparent;
  color: var(--azul1);
  padding: 12.5px;
}

article.item h3 {
  color: var(--roxo1);
  font-family: var(--fonte-mono);
  font-size: 1.6em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

article.item:hover {
  border-left: 3px solid;
  color: var(--roxo1);
  cursor: pointer;
}

footer {
  text-align: center;
  border-top: 2px solid var(--cor1);
}

footer a {
  font-family: var(--fonte-mono);
  font-size: 1rem;
  color: var(--texto);
  text-decoration: none;
  white-space: nowrap;
}

nav#social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.5em;

  margin: 10px auto;

  gap: 15px;
}

nav#social a i {
  color: var(--cor2);
  padding: 0;
  transition: transform 0.1s ease-in-out;
}

nav#social a:hover i {
  transform: scale(1.1);
  color: var(--cor1);
}

/* Estilos do seletor de idiomas */
.lang-switch-wrapper {
  align-items: center;
  display: flex;
  padding: 4px;
}

.lang-btn {
  background-color: transparent;
  border: none;
  color: var(--azul1);
  cursor: pointer;
  font-family: var(--fonte-mono);
  transition: background-color 0.3s ease;
}

.lang-btn.active {
  background-color: var(--roxo2);
  color: var(--azul1);
}

/* Para telas maiores (ex.: tablets e desktops */
@media (min-width: 768px) {
  header {
    padding: 30px 120px;
  }

  main {
    flex-direction: row;
    align-items: stretch;
  }

  section.perfil {
    flex: 1;
    position: sticky;
    top: 20px;
  }

  section.container {
    flex: 2;
  }
}
