@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --cor1: #062444;
    --cor2: #205880;
    --cor3: #7CB4A5;
    --cor4: #FAF2E4;
    --cor5: #E2E9E6;

    --fonte-padrao: 'Source Code Pro', monospace;

    --icon-toolbox: url('images/toolbox-solid-full.svg');
}

* {
    font-family: var(--fonte-padrao);    

    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.350);

    box-sizing: border-box;
}

body {
    background-color: var(--cor5);
    color: var(--cor1);
    margin: 0;
}

/* Definições do modo escuro */
body.dark-mode {
    --cor1: #E2E9E6; /* Inversão das cores nas variáveis */
    --cor2: #7CB4A5;
    --cor3: #205880;
    --cor4: #062444;
    --cor5: #0A192F; /* Azul quase preto para maior contraste do fundo */
}

/* Ajustes finos para os artigos no modo escuro */
body.dark-mode article.item {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

body.dark-mode article.item:hover {
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.15);
}

body.dark-mode .slider:before {
    background-color: var(--cor1); /* Cor do círculo no modo escuro */
    color: var(--cor5);            /* Cor do ícone no modo escuro */
}

header {
    background-color: var(--cor2);
    color: var(--cor1);
    padding: 30px 40px;
    margin-bottom: 10px; 
    border-bottom: 2px solid var(--cor1);
}

header h1 {
    font-size: 2.8em;
    color: var(--cor4);
    text-shadow: 2px 2px 0px var(--cor1);
    margin: 0 0 5px 0;
}

header h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--cor5);
    text-shadow: 2px 2px 0px var(--cor1);
}

h3 {
    font-size: 1.5em;
    color: var(--cor5);
    border-bottom: 1px dashed var(--cor3);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Estilização do botão de alternância de cores */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 40px;
}

.theme-switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 50px;
    padding: 2px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: var(--cor1);
    transition: .3s;
    border-radius: 34px;

    display: flex;
    align-items: center;
}

.slider:before {
    content: "";
    height: 22px;
    width: 22px;
    position: relative;
    left: 4px;
    transition: .3s;
    border-radius: 50%; /* fundo circular */

    background-color: var(--cor5); /* cor do círculo */
    
    /* Define o ícone do site como imagem de fundo do seletor de modo */
    background-image: var(--icon-toolbox);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;

    /* Cor do ícone alterada para fill="currentColor" no código XML do arquivo SVG */
    color: var(--cor1);
}

input:checked + .slider {
    background-color: var(--cor3);
}

input:checked + .slider::before {
    transform: translateX(20px);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main h1 {
    text-shadow: 2px 2px 0px var(--cor1);
}

.qualifications {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

.qualifications li {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px;
    gap: 15px;
}

.qualifications li i {
    font-size: 1.2em;
    width: 25px;
    margin-top: 2px;
    color: var(--cor3);
}

section.perfil {
    color: var(--cor4);
    background-color: var(--cor2);
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 0px var(--cor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.perfil img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--cor4);
    outline: 5px solid var(--cor1);
    display: block;
    margin-bottom: 15px;
}

section.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
}

article.item {
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;   
    border-bottom: none;
    padding: 25px;
}

article.item h3 {
    font-size: 1.6em;
    color: var(--cor5);
    border-bottom: 1px dashed var(--cor3);
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 10px;
}

article.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

footer {
    background-color: var(--cor5);
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid var(--cor1);
    
}

nav#social {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;

    margin: 10px auto;
    
    min-width: 5px;
    max-width: 300px;
    gap: 15px;
}

nav#social a i {
    color: var(--cor2);
    padding: 0;
    transition: transform 0.1s ease-in-out;
}

nav#social a:hover i {
    transform: scale(1.1);
    color: var(--cor1);
}

/* Para telas maiores (ex.: tablets e desktops */
@media (min-width: 768px) {
    header {
        padding: 30px 120px;
    }

    main {
        flex-direction: row;
        align-items: stretch;
    }

    section.perfil {
        flex: 1;
        position: sticky;
        top: 20px;
    }

    section.container {
        flex: 2;
    }
}