@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --cor1: #00040D;
    --cor2: #011C40;
    --cor3: #011126;
    --cor4: #144C59;
    --cor5: #63A693;

    --fonte-padrao: 'Source Code Pro', monospace;
    --fonte-destaque: 'Source Code Pro', monospace;
}

* {
    font-family: var(--fonte-padrao);    

    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.350);
}

body {
    background-color: var(--cor5);
    color: var(--cor1);
    margin: 0;
}

header {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 20px 30px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--cor1);
    border-color: var(--cor1);
    border-radius: 0px 0px 20px 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px;
}

h1 {
    font-size: 2.5em;
    color: var(--cor1);
    text-shadow: 2px 2px 0px var(--cor5);
}

h2 {
    font-size: 1.2em;
    color: var(--cor5);
    text-shadow: 2px 2px 0px var(--cor1);
}

h3 {
    font-size: 1.5em;
    color: var(--cor2);
    border-bottom: 1px dashed var(--cor4);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 0;
}

nav#social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    
    min-width: 5px;
    max-width: 300px;
    gap: 15px;
}

nav#social img {
    width: 32px;
    height: 32px;
    padding: 0;
}

section.boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    padding: 20px 0;
}

article.tools {
    flex: 1 1 300px;

    background-color: var(--cor5);
    border: 1px solid var(--cor4);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
    border-bottom: none;
    padding: 20px;
    margin-bottom: 0;
}

footer {
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid var(--cor1);
}